*{
    font-family: gill sans ;
}


body {
    background-color: #e0f2f1; 
}

.square {
    width: 300px; 
    height: 100px; 
    background-color: #bfdcdc; 
    position: absolute; 
    bottom: 200px; 
    left: 100px; 
}

#homeText{
    text-align: center;
    padding-top: 30px;
}

#header{
    margin: 1px 0; 
    font-size: 60px;
    width: 50%; 
    margin: 0 auto; 
    text-align: center; 
    font-weight: bold;
    
}

.login h1 {
    margin: 1px 0; 
    font-size: 60px;
    width: 50%; 
    margin: 0 auto; 
    text-align: center; 
}


.login-signup-button {
    cursor: pointer;
    height: 22px;
    width: 160px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    box-shadow:  0 0 10px rgb(41, 94, 116);
    background-color: white;
    border: 1.5px solid rgb(41, 94, 116);
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;


  }


.login-signup-button:hover{
    background-color: #bfdcdc;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.login {
    text-align: center;
}

.login button {
    margin: 10px;
    width: 100px;
    height: 30px;
}

.login button:hover{
    background-color: #bfdcdc;
}


.username-group{
    padding: 20px;
}

.play-grid{
    display: grid;
    display: -ms-inline-grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 20px;
}

.play-grid-item{
    padding: 20px;
    text-align: center;
}

.play-image-container{
    text-align: center;
    margin: 0;
    border: 2px black;
    border-radius: 2px 2px 2px 2px;
}

.locationImage{
    width:400px; 
    height:300px; 
    border: 4px solid black; 
    border-radius: 2px;
}

.inputFile{
    width: 15px;
    height: 15px;
    color: beige;
    
}

.navbar{
    background-color: black;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}
.navbar button{
    background-color: #e0f2f1;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navbar p{
    display: block;
    color: white;
    font-size: 16px;
}

