<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/main.css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="/app/static/main.js"></script>
    <title>🌎 Dashboard</title>
</head>
<body>
    <div id="hamburger" aria-label="Menu">&#9776;</div>

    <div class="welcome">
        <h1 id="header">Dashboard 🌎</h1>
        
    </div>

    <div id="dashboard-content">
        <div>
            <h2 id="welcomeMessage">Welcome, <span id="username">{{ username }}</span></h2>
            <div class="game-buttons">
                <button onclick="startGame()">Start Game</button>
            </div>
        </div>
    </div>

    <div class="square"></div>  
    <div class="square2"></div>
    <div class="square3"></div>
    <div class="square4"></div>

    <div class="map">
        <div class="ice1"></div>
        <div class="ice2"></div>

        <div class="land1"></div>
        <div class="land2"></div>
        <div class="land3"></div>
        <div class="land4"></div>
        <div class="land5"></div>
    </div>
    <div id="task-bar" class="hidden">
        <div class="task-bar-item" 
             onmouseover="handleMouseOver(this)" 
             onmouseout="handleMouseOut(this)" 
             onclick="showFileInput()">
            <h3>Submit an Image</h3>
        </div>
        <div class="task-bar-item" 
             onmouseover="handleMouseOver(this)" 
             onmouseout="handleMouseOut(this)" 
             onclick="displayPlayerStats()">
            <h3>Stats</h3>
        </div>

        <div class="task-bar-item" 
             onmouseover="handleMouseOver(this)" 
             onmouseout="handleMouseOut(this)" 
             onclick="redirectToAboutPage()">
            <h3>About Us</h3>
        </div>

        <div class="task-bar-item" 
             onmouseover="handleMouseOver(this)" 
             onmouseout="handleMouseOut(this)" 
             onclick="returnToHomepage()">
            <h3>Log Out</h3>
        </div>
    </div>

    <div class="square"></div>
    <div class="square2"></div>
    <div class="square3"></div>
    <div class="square4"></div>

    

    <div id="file-input-container" style="display:none;">
        <input type="file" id="imageInput" accept="image/*">
        <button onclick="submitImages()">Submit</button>
    </div>

    <script>
        document.getElementById('hamburger').addEventListener('click', toggleTaskBar);
        function toggleTaskBar() {
            const taskBar = document.getElementById('task-bar');
            taskBar.style.display = (taskBar.style.display === 'block') ? 'none' : 'block';
        }
        function redirectToAboutPage() {
            window.location.href = 'about.html';
        }
    </script>
</body>
</html>
